Repository team-aliens/DMS-Android, pull requests merged in 2022-11, with the labels that each got.

#98 🔀 :: 학번 검사 비즈니스 로직 구현
  auth_data/src/main/java/com/example/auth_data/remote/api/StudentsApi.kt
  auth_data/src/main/java/com/example/auth_data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  auth_data/src/main/java/com/example/auth_data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  auth_data/src/main/java/com/example/auth_data/remote/response/students/ExamineGradeResponse.kt
  auth_data/src/main/java/com/example/auth_data/remote/url/DmsUrl.kt
  auth_data/src/main/java/com/example/auth_data/repository/StudentsRepositoryImpl.kt
  auth_domain/src/main/java/com/example/auth_domain/entity/ExamineGradeEntity.kt
  auth_domain/src/main/java/com/example/auth_domain/param/ExamineGradeParam.kt
  auth_domain/src/main/java/com/example/auth_domain/repository/StudentsRepository.kt
  auth_domain/src/main/java/com/example/auth_domain/usecase/students/DuplicateCheckEmailUseCase.kt
  auth_domain/src/main/java/com/example/auth_domain/usecase/students/DuplicateCheckIdUseCase.kt
  auth_domain/src/main/java/com/example/auth_domain/usecase/students/ExamineGradeUseCase.kt
Labels: feat

#93 🔀 :: register package 구조 정리 및 schools 로직과 Screen연결 구현
  auth_data/src/main/java/com/example/auth_data/remote/response/schools/SchoolIdResponse.kt
  auth_domain/src/main/java/com/example/auth_domain/entity/SchoolIdEntity.kt
  di/src/main/java/com/example/di/NetWorkModule.kt
  di/src/main/java/com/example/di/RemoteDataSourceModule.kt
  di/src/main/java/com/example/di/RepositoryModule.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/CompareSchoolAnswerEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/ExamineSchoolCodeEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/SchoolQuestionEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/EmailVerificationScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/PolicyScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/email/EmailVerificationScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/email/EnterEmailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/id/SetIdScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/last/PolicyScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/last/ProfileImageScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/password/SetPasswordScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/ConfirmSchoolScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/SchoolCertificationCodeScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/school/CompareSchoolAnswerState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/school/ExamineSchoolCodeState.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/SignUpViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/CompareSchoolAnswerViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/ExamineSchoolCodeViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/SchoolQuestionViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, need discussion, 🤔defer

#100 🔀 :: migration compose to xml
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/Versions.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/example/dms_android/base/BaseActivity.kt
  presentation/src/main/java/com/example/dms_android/base/BaseFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/res/layout/activity_main.xml
Labels: feat, refactor, setting

#104 🔀 :: (#96) notice business logic
  buildSrc/src/main/kotlin/Versions.kt
  di/src/main/java/com/example/di/LocalDataSourceModule.kt
  di/src/main/java/com/example/di/NetWorkModule.kt
  di/src/main/java/com/example/di/RemoteDataSourceModule.kt
  di/src/main/java/com/example/di/RepositoryModule.kt
  di/src/main/java/com/example/di/RoomModule.kt
  feature_data/src/main/java/com/example/feature_data/remote/api/NoticeApi.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/declaration/RemoteNoticeDataSource.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/implementation/RemoteNoticeDataSourceImpl.kt
  feature_data/src/main/java/com/example/feature_data/remote/response/notice/NewNoticeBooleanResponse.kt
  feature_data/src/main/java/com/example/feature_data/remote/response/notice/NoticeDetailResponse.kt
  feature_data/src/main/java/com/example/feature_data/remote/response/notice/NoticeListResponse.kt
  feature_data/src/main/java/com/example/feature_data/remote/url/DmsUrl.kt
  feature_data/src/main/java/com/example/feature_data/repository/NoticeRepositoryImpl.kt
  feature_domain/src/main/java/com/example/feature_domain/entity/notice/NewNoticeBooleanEntity.kt
  feature_domain/src/main/java/com/example/feature_domain/entity/notice/NoticeDetailEntity.kt
  feature_domain/src/main/java/com/example/feature_domain/entity/notice/NoticeListEntity.kt
  feature_domain/src/main/java/com/example/feature_domain/enums/NoticeListSCType.kt
  feature_domain/src/main/java/com/example/feature_domain/repository/NoticeRepository.kt
  feature_domain/src/main/java/com/example/feature_domain/usecase/notice/RemoteNoticeDetailUseCase.kt
  feature_domain/src/main/java/com/example/feature_domain/usecase/notice/RemoteNoticeListUseCase.kt
  local_database/src/main/java/com/example/local_database/converter/TypeConverter.kt
  local_database/src/main/java/com/example/local_database/dao/MealDao.kt
  local_database/src/main/java/com/example/local_database/dao/NoticeDao.kt
  local_database/src/main/java/com/example/local_database/database/DMSDataBase.kt
  local_database/src/main/java/com/example/local_database/datasource/declaration/LocalNoticeDataSource.kt
  local_database/src/main/java/com/example/local_database/datasource/implementation/LocalMealDataSourceImpl.kt
  local_database/src/main/java/com/example/local_database/datasource/implementation/LocalNoticeDataSourceImpl.kt
  local_database/src/main/java/com/example/local_database/entity/meal/MealRoomEntity.kt
  local_database/src/main/java/com/example/local_database/entity/notice/NoticeDetailRoomEntity.kt
  local_database/src/main/java/com/example/local_database/entity/notice/NoticeListRoomEntity.kt
  local_database/src/main/java/com/example/local_database/repository/meal/LocalMealRepositoryImpl.kt
  local_database/src/main/java/com/example/local_database/repository/notice/LocalNoticeRepositoryImpl.kt
  local_database/src/main/java/com/example/local_database/tablename/TableName.kt
  local_domain/src/main/java/com/example/local_domain/entity/UserKeyLocalEntity.kt
  local_domain/src/main/java/com/example/local_domain/entity/notice/NoticeDetailLocalEntity.kt
  local_domain/src/main/java/com/example/local_domain/entity/notice/NoticeListLocalEntity.kt
  local_domain/src/main/java/com/example/local_domain/repository/notice/LocalNoticeRepository.kt
  local_domain/src/main/java/com/example/local_domain/usecase/notice/LocalNoticeDetailUseCase.kt
  local_domain/src/main/java/com/example/local_domain/usecase/notice/LocalNoticeListUseCase.kt
Labels: feat

#107 🔀 :: (#106) Delete CI Kt Lint
  presentation/build.gradle.kts
Labels: 👾bug

#110 🔀 :: (#105) Notice View
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat

#109 🔀 :: (#101) make all register view
  .idea/gradle.xml
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/Versions.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/example/dms_android/customui/RegisterCustomButton.kt
  presentation/src/main/res/drawable/ic_eyes_off.xml
  presentation/src/main/res/drawable/ic_eyes_on.xml
  presentation/src/main/res/drawable/register_custom_btn_background.xml
  presentation/src/main/res/drawable/register_et_background.xml
  presentation/src/main/res/layout/activity_confirm_school.xml
  presentation/src/main/res/layout/activity_email_certification.xml
  presentation/src/main/res/layout/activity_enter_email.xml
  presentation/src/main/res/layout/activity_policy.xml
  presentation/src/main/res/layout/activity_school_certification.xml
  presentation/src/main/res/layout/activity_set_id.xml
  presentation/src/main/res/layout/activity_set_password.xml
  presentation/src/main/res/layout/activity_set_profile_image.xml
  presentation/src/main/res/layout/register_custom_button.xml
  presentation/src/main/res/values/attrs.xml
  presentation/src/main/res/values/strings.xml
Labels: feat

#111 🔀 :: (#108) MyPage Business Logic
  di/src/main/java/com/example/di/LocalDataSourceModule.kt
  di/src/main/java/com/example/di/NetWorkModule.kt
  di/src/main/java/com/example/di/RemoteDataSourceModule.kt
  di/src/main/java/com/example/di/RepositoryModule.kt
  di/src/main/java/com/example/di/RoomModule.kt
  di/src/main/java/com/example/di/StorageModule.kt
  feature_data/src/main/java/com/example/feature_data/remote/api/MyPageApi.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/declaration/RemoteMyPageDataSource.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/declaration/RemoteNoticeDataSource.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/implementation/RemoteMyPageDataSourceImpl.kt
  feature_data/src/main/java/com/example/feature_data/remote/response/mypage/FetchMyPageResponse.kt
  feature_data/src/main/java/com/example/feature_data/remote/response/mypage/FetchPointListResponse.kt
  feature_data/src/main/java/com/example/feature_data/remote/url/DmsUrl.kt
  feature_data/src/main/java/com/example/feature_data/repository/MyPageRepositoryImpl.kt
  feature_domain/src/main/java/com/example/feature_domain/entity/mypage/MyPageEntity.kt
  feature_domain/src/main/java/com/example/feature_domain/entity/mypage/PointListEntity.kt
  feature_domain/src/main/java/com/example/feature_domain/enums/PointType.kt
  feature_domain/src/main/java/com/example/feature_domain/repository/MyPageRepository.kt
  feature_domain/src/main/java/com/example/feature_domain/usecase/mypage/RemoteMyPageUseCase.kt
  feature_domain/src/main/java/com/example/feature_domain/usecase/mypage/RemotePointUseCase.kt
  local_database/src/main/java/com/example/local_database/converter/TypeConverter.kt
  local_database/src/main/java/com/example/local_database/dao/PointDao.kt
  local_database/src/main/java/com/example/local_database/database/DMSDataBase.kt
  local_database/src/main/java/com/example/local_database/datasource/declaration/LocalMyPageDataSource.kt
  local_database/src/main/java/com/example/local_database/datasource/implementation/LocalMyPageDataSourceImpl.kt
  local_database/src/main/java/com/example/local_database/entity/mypage/PointListRoomEntity.kt
  local_database/src/main/java/com/example/local_database/param/mypage/MyPageLocalParam.kt
  local_database/src/main/java/com/example/local_database/repository/mypage/LocalMyPageRepositoryImpl.kt
  local_database/src/main/java/com/example/local_database/storage/declaration/MyPageDataStorage.kt
  local_database/src/main/java/com/example/local_database/storage/implementation/MyPageDataStorageImpl.kt
  local_database/src/main/java/com/example/local_database/storage/implementation/UserDataStorageImpl.kt
  local_database/src/main/java/com/example/local_database/tablename/TableName.kt
  local_domain/src/main/java/com/example/local_domain/entity/mypage/PointListValueEntity.kt
  local_domain/src/main/java/com/example/local_domain/param/MyPageParam.kt
  local_domain/src/main/java/com/example/local_domain/repository/mypage/LocalMyPageRepository.kt
  local_domain/src/main/java/com/example/local_domain/usecase/mypage/LocalMyPageUseCase.kt
  local_domain/src/main/java/com/example/local_domain/usecase/mypage/LocalPointListUseCase.kt
  local_domain/src/main/java/com/example/local_domain/usecase/mypage/LocalTotalPointUseCase.kt
Labels: feat

#116 🔀 :: (#113) register xml change acitivity to fragment & make SchoolRegisterFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/res/layout/activity_school_certification.xml
  presentation/src/main/res/layout/fragment_confirm_school.xml
  presentation/src/main/res/layout/fragment_email_certification.xml
  presentation/src/main/res/layout/fragment_enter_email.xml
  presentation/src/main/res/layout/fragment_policy.xml
  presentation/src/main/res/layout/fragment_school_certification.xml
  presentation/src/main/res/layout/fragment_set_id.xml
  presentation/src/main/res/layout/fragment_set_password.xml
  presentation/src/main/res/layout/fragment_set_profile_image.xml
Labels: feat, refactor

#127 🔀 :: (#117) implement register school fragment, viewmodel
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/Versions.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/CompareSchoolAnswerEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/ConfirmSchoolEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/ExamineSchoolCodeEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/school/SchoolQuestionEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/ConfirmSchoolScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/SchoolCertificationCodeScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/school/ConfirmSchoolState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/util/LifeCycle.kt
  presentation/src/main/java/com/example/dms_android/util/View.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/CompareSchoolAnswerViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/ConfirmSchoolViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/ExamineSchoolCodeViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/SchoolQuestionViewModel.kt
  presentation/src/main/res/drawable/register_custom_active_btn_background.xml
  presentation/src/main/res/drawable/register_et_error_background.xml
  presentation/src/main/res/layout/fragment_confirm_school.xml
  presentation/src/main/res/layout/fragment_school_certification.xml
  presentation/src/main/res/values/strings.xml
Labels: feat

#128 🔀 :: (#121) Implement register emailViewModel, Fragment
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/email/RegisterEmailEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/email/RegisterEmailState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/email/EmailCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/com/example/dms_android/util/View.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/email/RegisterEmailViewModel.kt
  presentation/src/main/res/layout/fragment_email_certification.xml
  presentation/src/main/res/layout/fragment_enter_email.xml
  presentation/src/main/res/values/strings.xml
Labels: feat
