Repository team-aliens/DMS-Android, pull requests merged in 2022-12, with the labels that each got.

#129 🔀 :: (#123) Implement Set PasswordFragment, ViewModel
  presentation/src/main/java/com/example/dms_android/feature/register/ui/password/SetPasswordFragment.kt
  presentation/src/main/res/layout/fragment_set_password.xml
Labels: feat

#136 🔀 :: (#135) Design Refactor
  design-system/src/main/java/com/example/design_system/color/colors.kt
  presentation/src/main/java/com/example/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/pointlist/PointList.kt
Labels: refactor

#139 🔀 :: (#132) Making Meal(home) view
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/home/BreakFastFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/home/DinnerFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/home/HomeFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/home/LunchFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/home/adapter/MealPagerAdapter.kt
  presentation/src/main/res/drawable-v24/cafeteria_background.png
  presentation/src/main/res/drawable/home_background.xml
  presentation/src/main/res/drawable/ic_calendar.xml
  presentation/src/main/res/drawable/ic_meal_next.xml
  presentation/src/main/res/drawable/ic_megaphone.xml
  presentation/src/main/res/drawable/ic_moon.xml
  presentation/src/main/res/drawable/ic_next.xml
  presentation/src/main/res/drawable/ic_next_notice.png
  presentation/src/main/res/drawable/ic_notice.png
  presentation/src/main/res/drawable/ic_noticedetail.png
  presentation/src/main/res/drawable/ic_sun.xml
  presentation/src/main/res/drawable/ic_sun_haze.xml
  presentation/src/main/res/drawable/meal_background.xml
  presentation/src/main/res/drawable/meal_date_background.xml
  presentation/src/main/res/drawable/notice_next_background.xml
  presentation/src/main/res/drawable/tomorrow.png
  presentation/src/main/res/drawable/yesterday.png
  presentation/src/main/res/layout/fragment_breakfast.xml
  presentation/src/main/res/layout/fragment_dinner.xml
  presentation/src/main/res/layout/fragment_home.xml
  presentation/src/main/res/layout/fragment_lunch.xml
  presentation/src/main/res/layout/item_meal.xml
  presentation/src/main/res/values/dimen.xml
  presentation/src/main/res/values/strings.xml
Labels: feat

#143 🔀 :: (#142) Implement MealViewmodel
  feature_data/src/main/java/com/example/feature_data/remote/api/MealApi.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/declaration/RemoteMealDataSource.kt
  feature_data/src/main/java/com/example/feature_data/remote/datasource/implementation/RemoteMealDataSourceImpl.kt
  feature_data/src/main/java/com/example/feature_data/repository/MealRepositoryImpl.kt
  feature_domain/src/main/java/com/example/feature_domain/repository/MealRepository.kt
  feature_domain/src/main/java/com/example/feature_domain/usecase/meal/RemoteMealUseCase.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/home/MealEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/home/MealState.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/home/MealViewModel.kt
Labels: feat

#148 🔀 :: (#147) LoginViewModel & Test
  auth_data/src/main/java/com/example/auth_data/remote/request/user/SignInRequest.kt
  auth_data/src/main/java/com/example/auth_data/remote/response/user/SignInResponse.kt
  auth_data/src/main/java/com/example/auth_data/remote/url/DmsUrl.kt
  auth_data/src/main/java/com/example/auth_data/repository/UserRepositoryImpl.kt
  auth_data/src/main/java/com/example/auth_data/util/HttpHandler.kt
  auth_data/src/main/java/com/example/auth_data/util/OfflineCacheUtil.kt
  auth_domain/src/main/java/com/example/auth_domain/entity/AuthInfoEntity.kt
  auth_domain/src/main/java/com/example/auth_domain/repository/UserRepository.kt
  auth_domain/src/main/java/com/example/auth_domain/usecase/user/RemoteSignInUseCase.kt
  buildSrc/src/main/kotlin/Versions.kt
  design-system/src/main/java/com/example/design_system/toast/ToastMaker.kt
  local_database/src/main/java/com/example/local_database/datasource/implementation/LocalUserDataSourceImpl.kt
  local_database/src/main/java/com/example/local_database/param/UserPersonalKeyParam.kt
  local_database/src/main/java/com/example/local_database/storage/declaration/UserDataStorage.kt
  local_database/src/main/java/com/example/local_database/storage/implementation/UserDataStorageImpl.kt
  local_database/src/main/java/com/example/local_database/util/LocalDateTimePraser.kt
  local_domain/src/main/java/com/example/local_domain/entity/UserVisibleLocalEntity.kt
  presentation/build.gradle.kts
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/login/SignInEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/login/SignInViewEffect.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/BottomNavigationItem.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/login/SignInViewModel.kt
Labels: feat, performance, refactor, 👾bug

#152 Merge: (#155) Update DesignSystem
  design-system/src/main/java/com/example/design_system/component/seat.kt
  design-system/src/main/java/com/example/design_system/modifier/clickable.kt
  design-system/src/main/java/com/example/design_system/textfield/textfield.kt
  design-system/src/main/java/com/example/design_system/toast/ToastMaker.kt
  design-system/src/main/java/com/example/design_system/toast/toast.kt
  design-system/src/main/java/com/example/design_system/typography/typography.kt
  di/src/main/java/com/example/di/NetWorkModule.kt
Labels: feat, Dorm

#159 🔀 :: (#158) fix dorm seat
  design-system/src/main/java/com/example/design_system/component/notice.kt
  design-system/src/main/java/com/example/design_system/component/seat.kt
Labels: Dorm

#161 🔀 :: (#160) 자습실 좌석 컴포넌트
  design-system/src/main/java/com/example/design_system/component/seat.kt
  design-system/src/main/java/com/example/design_system/constans/constraints.kt
  design-system/src/main/java/com/example/design_system/modifier/shadow.kt
  design-system/src/main/java/com/example/design_system/typography/typography.kt
Labels: Dorm

#165 🔀 :: (#124) Implement Register
  .idea/gradle.xml
  buildSrc/src/main/kotlin/ProjectProperties.kt
  data/src/main/java/com/example/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/com/example/data/remote/api/StudentsApi.kt
  data/src/main/java/com/example/data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  data/src/main/java/com/example/data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  data/src/main/java/com/example/data/remote/request/students/ResetPasswordRequest.kt
  data/src/main/java/com/example/data/remote/request/students/SignUpRequest.kt
  data/src/main/java/com/example/data/remote/response/students/ExamineGradeResponse.kt
  data/src/main/java/com/example/data/remote/response/students/SignUpResponse.kt
  data/src/main/java/com/example/data/repository/StudentsRepositoryImpl.kt
  di/build.gradle.kts
  local_database/build.gradle.kts
  local_domain/build.gradle.kts
  presentation/src/main/java/com/example/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/event/SignUpEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/email/EmailCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/id/SetIdFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/last/PolicyFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/last/SetProfileImageFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/last/dialog/GoLoginDialog.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/password/SetPasswordFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/SignUpViewModel.kt
  presentation/src/main/res/drawable/ic_logo.xml
  presentation/src/main/res/layout/dialog_sign_up.xml
  presentation/src/main/res/layout/fragment_confirm_school.xml
  presentation/src/main/res/layout/fragment_email_certification.xml
  presentation/src/main/res/layout/fragment_enter_email.xml
  presentation/src/main/res/layout/fragment_policy.xml
  presentation/src/main/res/layout/fragment_school_certification.xml
  presentation/src/main/res/layout/fragment_set_id.xml
  presentation/src/main/res/layout/fragment_set_password.xml
  presentation/src/main/res/layout/fragment_set_profile_image.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/themes.xml
Labels: feat

#167 🔀 :: (#164) five sprint ALL viewmodel connect
  data/src/main/java/com/example/data/remote/api/StudyRoomApi.kt
  data/src/main/java/com/example/data/remote/datasource/declaration/RemoteStudyRoomDataSource.kt
  data/src/main/java/com/example/data/remote/datasource/implementation/RemoteStudyRoomDataSourceImpl.kt
  data/src/main/java/com/example/data/remote/response/studyroom/StudyRoomDetailResponse.kt
  data/src/main/java/com/example/data/remote/url/DmsUrl.kt
  data/src/main/java/com/example/data/repository/StudyRoomRepositoryImpl.kt
  design-system/src/main/java/com/example/design_system/component/seat.kt
  di/src/main/java/com/example/di/NetWorkModule.kt
  domain/src/main/java/com/example/domain/entity/studyroom/StudyRoomDetailEntity.kt
  domain/src/main/java/com/example/domain/entity/studyroom/StudyRoomListEntity.kt
  domain/src/main/java/com/example/domain/repository/StudyRoomRepository.kt
  domain/src/main/java/com/example/domain/usecase/notice/RemoteNoticeListUseCase.kt
  domain/src/main/java/com/example/domain/usecase/studyroom/RemoteApplySeatUseCase.kt
  domain/src/main/java/com/example/domain/usecase/studyroom/RemoteFetchApplySeatUseCase.kt
  domain/src/main/java/com/example/domain/usecase/studyroom/RemoteFetchStudyRoomDetailUseCase.kt
  domain/src/main/java/com/example/domain/usecase/studyroom/RemoteFetchStudyRoomListUseCase.kt
  domain/src/main/java/com/example/domain/usecase/studyroom/RemoteFetchStudyRoomTypeUseCase.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/mypage/MyPageState.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomState.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomViewModel.kt
  presentation/src/main/java/com/example/dms_android/util/TopBar.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/home/MealViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/mypage/MyPageViewModel.kt
  presentation/src/main/res/layout/dialog_sign_up.xml
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#172 🔀 (#171) auto login
  data/src/main/java/com/example/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/com/example/data/remote/response/mypage/FetchPointListResponse.kt
  data/src/main/java/com/example/data/repository/UserRepositoryImpl.kt
  domain/src/main/java/com/example/domain/entity/mypage/PointListEntity.kt
  domain/src/main/java/com/example/domain/param/LoginParam.kt
  domain/src/main/java/com/example/domain/repository/UserRepository.kt
  domain/src/main/java/com/example/domain/usecase/user/AutoLoginUseCase.kt
  local_database/src/main/java/com/example/local_database/datasource/declaration/LocalUserDataSource.kt
  local_database/src/main/java/com/example/local_database/datasource/implementation/LocalUserDataSourceImpl.kt
  local_database/src/main/java/com/example/local_database/param/user/UserInfoParam.kt
  local_database/src/main/java/com/example/local_database/storage/declaration/UserDataStorage.kt
  local_database/src/main/java/com/example/local_database/storage/implementation/UserDataStorageImpl.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/com/example/dms_android/feature/MainActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/login/SignInState.kt
  presentation/src/main/java/com/example/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/com/example/dms_android/feature/splash/Splash.kt
  presentation/src/main/java/com/example/dms_android/feature/splash/SplashActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/splash/SplashViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/login/SignInViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/mypage/MyPageViewModel.kt
Labels: feat

#173 🔀 :: (#168) view part error refactoring
  data/src/main/java/com/example/data/remote/api/StudyRoomApi.kt
  data/src/main/java/com/example/data/repository/MyPageRepositoryImpl.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/mypage/MyPageState.kt
  presentation/src/main/java/com/example/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomState.kt
  presentation/src/main/java/com/example/dms_android/feature/studyroom/StudyRoomViewModel.kt
  presentation/src/main/res/drawable/coloricnotice.xml
Labels: feat

#170 🔀 :: (#169) Update Design System
  design-system/src/main/java/com/example/design_system/component/bottomsheet.kt
  design-system/src/main/java/com/example/design_system/component/calender.kt
  presentation/src/main/java/com/example/dms_android/util/compose/DormImageUploadLayout.kt
  presentation/src/main/java/com/example/dms_android/util/covert/FileUtil.kt
  presentation/src/main/java/com/example/dms_android/util/covert/UriUtil.kt
  presentation/src/main/java/com/example/dms_android/util/covert/bitmap.kt
  presentation/src/main/res/drawable/ic_mypage_edit.xml
Labels: Dorm
