Repository team-aliens/DMS-Android, pull requests merged in 2023-03, with the labels that each got.

#260 🔀 :: (#245) android 8.0 compatibility test
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
Labels: refactor

#263 🔀 :: (#262) implement withdrawal
  data/src/main/java/team/aliens/data/remote/api/StudentsApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/StudentsRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/repository/StudentsRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/students/RemoteStudentWithdrawUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#267 🔀 :: (#267) change base url
  di/src/main/java/team/aliens/di/NetWorkModule.kt
Labels: refactor

#271 🔀 :: (#270) add compatibility on android 80
  buildSrc/src/main/kotlin/ProjectProperties.kt
  data/src/main/java/team/aliens/data/util/HttpRequestHandler.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailsViewModel.kt
Labels: feat, performance, refactor

#277 🔀 :: (#277) make bottom tab selected item changes by screen
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
Labels: 👾bug

#278 🔀 :: (#274) disable study room filter temporarily
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
Labels: refactor

#279 🔀 :: (#276) implement my page information auto-fetching
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
Labels: 👾bug

#281 🔀 :: (#280) implement dialog dismissing when background pressed
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/GettingImageOptionDialog.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
Labels: feat

#284 🔀 :: (#283) change app logo
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/CheckOriginPwScreen.kt
  presentation/src/main/res/drawable/temporarylogo.png
Labels: 👾bug

#285 🔀 :: (#247) meals dont show when first sign in into app
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealContent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/home/MealViewModel.kt
Labels: feat, 👾bug

#286 🔀 :: (#282) refactor fetching notices logic
  design-system/src/main/java/team/aliens/design_system/component/notice.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, 👾bug

#290 🔀 :: (#289) refactor NoticeDetailScreen
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/notice/NoticeViewModel.kt
Labels: 👾bug

#291 🔀 :: (#288) refactor sign out
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/team/aliens/data/repository/UserRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/repository/UserRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/user/FetchAutoSignInOptionUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/SplashScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/root/RootViewModel.kt
Labels: 👾bug

#293 🔀 :: (#292) fix error related to studyroom, and fix interceptor
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListUiState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailUiState.kt
Labels: 👾bug

#272 🔀 :: (#257) migration signup feature to compose
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  design-system/src/main/java/team/aliens/design_system/textfield/textfield.kt
  presentation/src/main/java/team/aliens/dms_android/feature/RegisterActivity.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/event/email/RegisterEmailEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/event/school/ExamineSchoolCodeEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/ConfirmEmailVerificationCodeFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailVerifyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/EnterIdFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SignUpIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpPolicyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpProfileScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SignUpPasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpSchoolQuestionScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpVerifySchoolScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/register/email/RegisterEmailViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/register/school/ConfirmSchoolViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/register/school/ExamineSchoolCodeViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/image/ConfirmImageViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/notice/NoticeViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: refactor

#300 🔀 :: (#273) implement my page change password feature
  data/src/main/java/team/aliens/data/remote/api/UserApi.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/comparepassword/ComparePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/changepw/ChangePasswordViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat

#304 🔀 :: (#303) 사용자 편의 기능 구현
  design-system/src/main/java/team/aliens/design_system/textfield/textfield.kt
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealContent.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/ApplicationViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/login/SignInViewModel.kt
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, performance

#298 🔀 :: (#296) StudyRoom SeatType
  data/src/main/java/team/aliens/data/repository/StudyRoomRepositoryImpl.kt
  design-system/src/main/java/team/aliens/design_system/component/seat.kt
  domain/src/main/java/team/aliens/domain/entity/studyroom/SeatTypeEntity.kt
  domain/src/main/java/team/aliens/domain/repository/StudyRoomRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteFetchStudyRoomSeatTypeUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailUiState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailsViewModel.kt
Labels: feat

#311 🔀 :: (#307) implement signup validate logic
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailVerifyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SignUpIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpPolicyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpVerifySchoolScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat

#313 🔀 :: (#312) implement showing today's day of week in korean on CafeteriaScreen
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
Labels: feat

#316 🔀 :: (#315) fetch has new notice
  data/src/main/java/team/aliens/data/remote/api/NoticeApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteNoticeDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteNoticeDataSourceImpl.kt
  data/src/main/java/team/aliens/data/repository/NoticeRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/repository/NoticeRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/notice/RemoteCheckNewNoticeBooleanUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/notice/NoticeViewModel.kt
Labels: feat, 👾bug

#318 🔀 :: (#309) find id
  data/src/main/java/team/aliens/data/extension/Data2Domain.kt
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/team/aliens/data/remote/api/SchoolsApi.kt
  data/src/main/java/team/aliens/data/remote/api/StudentsApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteSchoolsDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteSchoolsDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/response/schools/FindIdResponse.kt
  data/src/main/java/team/aliens/data/remote/response/students/FetchSchoolsResponse.kt
  data/src/main/java/team/aliens/data/remote/response/students/SchoolResponse.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/SchoolsRepositoryImpl.kt
  data/src/main/java/team/aliens/data/repository/StudentsRepositoryImpl.kt
  design-system/src/main/res/drawable/ic_down.xml
  domain/src/main/java/team/aliens/domain/entity/schools/SchoolEntity.kt
  domain/src/main/java/team/aliens/domain/entity/user/FindIdEntity.kt
  domain/src/main/java/team/aliens/domain/param/FindIdParam.kt
  domain/src/main/java/team/aliens/domain/repository/SchoolsRepository.kt
  domain/src/main/java/team/aliens/domain/repository/StudentsRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/schools/FetchSchoolsUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/students/FindIdUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SignUpPasswordScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat

#320 🔀 :: (#299) 급식 위젯
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/Versions.kt
  design-system/src/main/java/team/aliens/design_system/icon/icons.kt
  design-system/src/main/res/drawable/ic_blue_breakfast.xml
  design-system/src/main/res/drawable/ic_blue_dinner.xml
  design-system/src/main/res/drawable/ic_blue_lunch.xml
  di/src/main/java/team/aliens/di/UseCaseModule.kt
  presentation/build.gradle.kts
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/team/aliens/dms_android/constans/Extra.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/BigMealWidgetProvider.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/MealService.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/MealState.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/MealType.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/SmallMealWidgetProvider.kt
  presentation/src/main/res/drawable/shape_widget_small.xml
  presentation/src/main/res/drawable/widget_big_meal.xml
  presentation/src/main/res/drawable/widget_small_meal.xml
  presentation/src/main/res/layout/big_widget_meal.xml
  presentation/src/main/res/layout/initial_widget_layout.xml
  presentation/src/main/res/layout/small_widget_meal.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/xml/big_meal_widget_provider.xml
  presentation/src/main/res/xml/small_meal_widget_provider.xml
Labels: feat

#322 🔀 :: (#319) 무지개 배경 구현
  design-system/src/main/java/team/aliens/design_system/icon/icons.kt
  design-system/src/main/java/team/aliens/design_system/modifier/background.kt
  design-system/src/main/res/drawable/ic_palette.xml
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
Labels: feat

#325 🔀 :: (#323) keyboard button action
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordIdentificationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/comparepassword/ComparePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SignUpIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SignUpPasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpSchoolQuestionScreen.kt
Labels: feat

#327 🔀 :: (#326) 화면 회전 방지 구현
  presentation/src/main/AndroidManifest.xml
Labels: feat

#330 🔀 :: (#321) 백그라운드에서 Widget이 동작하지 않는 오류 해결
  presentation/src/main/AndroidManifest.xml
  presentation/src/main/java/team/aliens/dms_android/widget/meal/MealService.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/MealType.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/SmallMealWidgetProvider.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/provider/BaseMealWidgetProvider.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/provider/BigMealWidgetProvider.kt
  presentation/src/main/java/team/aliens/dms_android/widget/meal/provider/SmallMealWidgetProvider.kt
Labels: feat

#328 🔀 :: (#323) keyboard button action && signup profile logic refactoring
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordIdentificationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordVerifyEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailVerifyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SignUpIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpPolicyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpProfileScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SignUpPasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpSchoolQuestionScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpVerifySchoolScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/VerifyTime.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#332 🔀 :: (#331) fetch studyroom available time list
  data/src/main/java/team/aliens/data/remote/api/StudyRoomApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudyRoomDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudyRoomDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/response/studyroom/StudyRoomAvailableTimeListResponse.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/StudyRoomRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/entity/studyroom/StudyRoomAvailableTimeListEntity.kt
  domain/src/main/java/team/aliens/domain/repository/StudyRoomRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteFetchStudyRoomAvailableTimeListUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/component/FloatingNotice.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListUiState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListViewModel.kt
Labels: feat

#335 🔀 :: (#334) design system spacer extension function
  design-system/src/main/java/team/aliens/design_system/button/checkbox.kt
  design-system/src/main/java/team/aliens/design_system/button/radiobutton.kt
  design-system/src/main/java/team/aliens/design_system/component/lostproperty.kt
  design-system/src/main/java/team/aliens/design_system/component/notice.kt
  design-system/src/main/java/team/aliens/design_system/component/seat.kt
  design-system/src/main/java/team/aliens/design_system/component/survey.kt
  design-system/src/main/java/team/aliens/design_system/component/vote.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  design-system/src/main/java/team/aliens/design_system/extension/dormspacer.kt
  design-system/src/main/java/team/aliens/design_system/textfield/textfield.kt
  design-system/src/main/java/team/aliens/design_system/typography/typography.kt
  presentation/src/main/java/team/aliens/dms_android/component/FloatingNotice.kt
  presentation/src/main/java/team/aliens/dms_android/component/GettingImageOptionItem.kt
  presentation/src/main/java/team/aliens/dms_android/component/OtpView.kt
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordIdentificationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordVerifyEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/SuccessChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/comparepassword/ComparePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/findid/FindIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/CheckOriginPwScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointList.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/SignUpEmailVerifyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SignUpIdScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpPolicyScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SignUpProfileScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SignUpPasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpSchoolQuestionScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SignUpVerifySchoolScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/TopBar.kt
Labels: refactor, Dorm

#338 🔀 :: (#337) implement meal pager set by current time
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealContent.kt
Labels: feat

#340 🔀 :: (#340) 스트링 리소스 표기법 변경
  presentation/src/main/res/values/strings.xml
Labels: refactor

#341 🔀 :: (#324) domain 레이어 신규 코드 작성
  domain/src/main/java/team/aliens/domain/_exception/CommonException.kt
  domain/src/main/java/team/aliens/domain/_exception/HttpException.kt
  domain/src/main/java/team/aliens/domain/_model/_common/EmailVerificationType.kt
  domain/src/main/java/team/aliens/domain/_model/_common/PointType.kt
  domain/src/main/java/team/aliens/domain/_model/_common/Sex.kt
  domain/src/main/java/team/aliens/domain/_model/auth/AuthenticationOutput.kt
  domain/src/main/java/team/aliens/domain/_model/auth/CheckIdExistsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/auth/EditPasswordInput.kt
  domain/src/main/java/team/aliens/domain/_model/auth/SendEmailVerificationCodeInput.kt
  domain/src/main/java/team/aliens/domain/_model/auth/SignInInput.kt
  domain/src/main/java/team/aliens/domain/_model/auth/Token.kt
  domain/src/main/java/team/aliens/domain/_model/file/UploadFileOutput.kt
  domain/src/main/java/team/aliens/domain/_model/meal/FetchMealsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/meal/Meal.kt
  domain/src/main/java/team/aliens/domain/_model/mypage/MyPage.kt
  domain/src/main/java/team/aliens/domain/_model/notice/FetchNoticeDetailOutput.kt
  domain/src/main/java/team/aliens/domain/_model/notice/FetchNoticesOutput.kt
  domain/src/main/java/team/aliens/domain/_model/notice/FetchWhetherNewNoticesExistOutput.kt
  domain/src/main/java/team/aliens/domain/_model/notice/Notice.kt
  domain/src/main/java/team/aliens/domain/_model/point/FetchPointsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/point/Point.kt
  domain/src/main/java/team/aliens/domain/_model/remains/FetchCurrentAppliedRemainsOptionOutput.kt
  domain/src/main/java/team/aliens/domain/_model/remains/FetchRemainsApplicationTimeOutput.kt
  domain/src/main/java/team/aliens/domain/_model/remains/FetchRemainsOptionsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/remains/RemainsApplicationTime.kt
  domain/src/main/java/team/aliens/domain/_model/remains/RemainsOption.kt
  domain/src/main/java/team/aliens/domain/_model/school/ExamineSchoolVerificationCodeOutput.kt
  domain/src/main/java/team/aliens/domain/_model/school/FetchAvailableFeaturesOutput.kt
  domain/src/main/java/team/aliens/domain/_model/school/FetchSchoolVerificationQuestionOutput.kt
  domain/src/main/java/team/aliens/domain/_model/school/FetchSchoolsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/student/EditProfileInput.kt
  domain/src/main/java/team/aliens/domain/_model/student/ExamineStudentNumberOutput.kt
  domain/src/main/java/team/aliens/domain/_model/student/Feature.kt
  domain/src/main/java/team/aliens/domain/_model/student/FetchMyPageOutput.kt
  domain/src/main/java/team/aliens/domain/_model/student/FindIdOutput.kt
  domain/src/main/java/team/aliens/domain/_model/student/ResetPasswordInput.kt
  domain/src/main/java/team/aliens/domain/_model/student/SignUpInput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchAvailableStudyRoomTimesOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchCurrentAppliedStudyRoomOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchSeatTypesOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchStudyRoomApplicationTimeOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchStudyRoomDetailsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/FetchStudyRoomsOutput.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/RoomApplicationTime.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/Seat.kt
  domain/src/main/java/team/aliens/domain/_model/studyroom/StudyRoom.kt
  domain/src/main/java/team/aliens/domain/_model/user/EditPasswordInput.kt
  domain/src/main/java/team/aliens/domain/_repository/AuthRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/FileRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/MealRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/NoticeRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/PointRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/RemainRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/SchoolRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/StudentRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/StudyRoomRepository.kt
  domain/src/main/java/team/aliens/domain/_repository/UserRepository.kt
Labels: refactor

#343 🔀 :: (#333) refactor fetch studyroom list logic
  data/src/main/java/team/aliens/data/remote/api/StudyRoomApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudyRoomDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudyRoomDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/response/studyroom/StudyRoomAvailableTimeListResponse.kt
  data/src/main/java/team/aliens/data/repository/StudyRoomRepositoryImpl.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  domain/src/main/java/team/aliens/domain/entity/studyroom/StudyRoomAvailableTimeListEntity.kt
  domain/src/main/java/team/aliens/domain/param/ApplyStudyRoomParam.kt
  domain/src/main/java/team/aliens/domain/param/StudyRoomDetailParam.kt
  domain/src/main/java/team/aliens/domain/repository/StudyRoomRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteApplySeatUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteCancelApplySeatUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteFetchStudyRoomDetailUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteFetchStudyRoomListUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListUiState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/image/ConfirmImageViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailUiState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/studyroom/StudyRoomDetailsViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor
