Repository team-aliens/DMS-Android, pull requests merged in 2023-02, with the labels that each got.

#181 🔀 :: (#166) Implement Register
  data/src/main/java/com/example/data/remote/api/StudentsApi.kt
  data/src/main/java/com/example/data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  data/src/main/java/com/example/data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  data/src/main/java/com/example/data/remote/response/students/SignUpResponse.kt
  data/src/main/java/com/example/data/repository/StudentsRepositoryImpl.kt
  domain/src/main/java/com/example/domain/usecase/students/RemoteSignUpUseCase.kt
  presentation/src/main/java/com/example/dms_android/feature/RegisterActivity.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/email/EmailCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/id/SetIdFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/last/PolicyFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/last/SetProfileImageFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/password/SetPasswordFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/com/example/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/SignUpViewModel.kt
  presentation/src/main/res/layout/dialog_sign_up.xml
  presentation/src/main/res/values/strings.xml
Labels: feat

#183 🔀 :: (#182) 회원가입 리팩토링
  presentation/src/main/java/com/example/dms_android/component/OtpView.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/selfconfirmation/SelfConfirmScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/auth/selfconfirmation/VeritificationScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/MealEvent.kt
  presentation/src/main/java/com/example/dms_android/feature/cafeteria/MealState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/email/EmailVerificationScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/email/EnterEmailScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/id/SetIdScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/last/PolicyScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/last/ProfileImageScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/password/SetPasswordScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/ConfirmSchoolScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/screen/school/SchoolCertificationCodeScreen.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/SignUpState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/email/RegisterEmailState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/id/SetIdState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/school/ConfirmSchoolState.kt
  presentation/src/main/java/com/example/dms_android/feature/register/state/school/ExamineSchoolCodeState.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/SignUpViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/email/RegisterEmailViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/id/SetIdViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/ConfirmSchoolViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/auth/register/school/ExamineSchoolCodeViewModel.kt
  presentation/src/main/java/com/example/dms_android/viewmodel/home/MealViewModel.kt
  presentation/src/main/res/layout/dialog_sign_up.xml
  presentation/src/main/res/layout/fragment_confirm_school.xml
  presentation/src/main/res/layout/fragment_email_certification.xml
  presentation/src/main/res/layout/fragment_enter_email.xml
  presentation/src/main/res/layout/fragment_policy.xml
  presentation/src/main/res/layout/fragment_school_certification.xml
  presentation/src/main/res/layout/fragment_set_id.xml
  presentation/src/main/res/layout/fragment_set_password.xml
  presentation/src/main/res/layout/fragment_set_profile_image.xml
  presentation/src/main/res/layout/register_custom_button.xml
  presentation/src/main/res/values/themes.xml
Labels: refactor

#191 🔀 :: (#190) Add @AndroidEntrypoint annotations on fragments related to Register
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EmailCertificationFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SetIdFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/PolicyFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/SetProfileImageFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SetPasswordFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
Labels: 👾bug

#193 🔀 :: (#192) Implement application apply main screen
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/BottomNavigationItem.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat

#198 🔀 :: (#196) string resource name refactoring
  data/src/main/java/team/aliens/data/repository/MealRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/usecase/meal/RemoteMealUseCase.kt
  local_database/src/main/java/team/aliens/local_database/datasource/implementation/LocalMealDataSourceImpl.kt
  local_database/src/main/java/team/aliens/local_database/storage/implementation/UserDataStorageImpl.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/ChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaMenu.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/CheckOriginPwScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EmailCertificationFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/Splash.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/TopBar.kt
  presentation/src/main/res/layout/fragment_confirm_school.xml
  presentation/src/main/res/layout/fragment_email_certification.xml
  presentation/src/main/res/layout/fragment_enter_email.xml
  presentation/src/main/res/layout/fragment_school_certification.xml
  presentation/src/main/res/layout/fragment_set_id.xml
  presentation/src/main/res/layout/fragment_set_password.xml
  presentation/src/main/res/values/strings.xml
Labels: refactor

#199 🔀 :: (#197) implement stay application screen
  design-system/src/main/res/drawable/coloricnotice.xml
  presentation/src/main/java/team/aliens/dms_android/component/FloatingNotice.kt
  presentation/src/main/java/team/aliens/dms_android/feature/StayApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
Labels: feat

#202 🔀 :: (#201) implement remain entities and repositories in domain and data layer
  data/src/main/java/team/aliens/data/remote/api/RemainApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteRemainDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteRemainDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/response/remain/FetchAvailableRemainTimeResponse.kt
  data/src/main/java/team/aliens/data/remote/response/remain/FetchCurrentRemainOptionResponse.kt
  data/src/main/java/team/aliens/data/remote/response/remain/FetchRemainOptionsResponse.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/RemainRepositoryImpl.kt
  di/src/main/java/team/aliens/di/NetWorkModule.kt
  di/src/main/java/team/aliens/di/RepositoryModule.kt
  domain/src/main/java/team/aliens/domain/entity/remain/AvailableRemainTimeEntity.kt
  domain/src/main/java/team/aliens/domain/entity/remain/CurrentRemainOptionEntity.kt
  domain/src/main/java/team/aliens/domain/entity/remain/RemainOptionsEntity.kt
  domain/src/main/java/team/aliens/domain/repository/RemainRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/remain/RemoteFetchAvailableRemainTimeUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/remain/RemoteFetchCurrentRemainOptionsUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/remain/RemoteFetchRemainOptionsUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/remain/RemoteUpdateRemainOptionUseCase.kt
Labels: feat

#204 🔀 :: (#194) edit design system typography
  design-system/src/main/java/team/aliens/design_system/typography/typography.kt
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/TopBar.kt
Labels: refactor, Dorm

#203 🔀 :: (#195) top bar refactoring
  presentation/src/main/java/team/aliens/dms_android/feature/StayApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/TopBar.kt
Labels: refactor

#207 🔀 :: (#207) refactor intercepter
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/team/aliens/data/intercepter/OkHttpClientQualifier.kt
  data/src/main/java/team/aliens/data/intercepter/TokenReissueClient.kt
  data/src/main/java/team/aliens/data/remote/url/DmsHttpProperties.kt
  di/src/main/java/team/aliens/di/NetWorkModule.kt
  local_database/src/main/java/team/aliens/local_database/storage/implementation/UserDataStorageImpl.kt
Labels: 👾bug

#213 🔀 :: (#208) fix screen remaining bug when back button pressed
  di/src/main/java/team/aliens/di/NetWorkModule.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/Splash.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/SplashActivity.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/SplashScreen.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, performance, 👾bug

#211 🔀 :: (#210) implement floating notice click event
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/BottomNavigationItem.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
Labels: feat

#219 🔀 :: (#214) refactor studyroom view
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#218 🔀 :: (#212) bottom navigation bar refactoring
  design-system/src/main/java/team/aliens/design_system/typography/typography.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/DmsApp.kt
  presentation/src/main/res/drawable/ic_mypage.png
  presentation/src/main/res/drawable/ic_mypage.xml
  presentation/src/main/res/values/strings.xml
Labels: refactor

#221 🔀 :: (#215) refactor login logicimplement logout
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  data/src/main/java/team/aliens/data/remote/api/UserApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteUserDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteUserDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/UserRepositoryImpl.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  di/src/main/java/team/aliens/di/NetWorkModule.kt
  domain/src/main/java/team/aliens/domain/repository/UserRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/user/AutoSignInUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/user/ReissueTokenUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/user/SignOutUseCase.kt
  local_database/src/main/java/team/aliens/local_database/datasource/declaration/LocalUserDataSource.kt
  local_database/src/main/java/team/aliens/local_database/datasource/implementation/LocalUserDataSourceImpl.kt
  local_database/src/main/java/team/aliens/local_database/storage/declaration/UserDataStorage.kt
  local_database/src/main/java/team/aliens/local_database/storage/implementation/UserDataStorageImpl.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/SignInState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/splash/SplashViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/login/SignInViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
Labels: feat, refactor

#220 🔀 :: (#205) implement remain view model and business logic
  data/src/main/java/team/aliens/data/remote/api/RemainApi.kt
  data/src/main/java/team/aliens/data/remote/response/remain/FetchAvailableRemainTimeResponse.kt
  data/src/main/java/team/aliens/data/remote/response/remain/FetchRemainOptionsResponse.kt
  di/src/main/java/team/aliens/di/RemoteDataSourceModule.kt
  domain/src/main/java/team/aliens/domain/entity/remain/AvailableRemainTimeEntity.kt
  domain/src/main/java/team/aliens/domain/entity/remain/RemainOptionsEntity.kt
  presentation/src/main/java/team/aliens/dms_android/component/LastAppliedItem.kt
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationState.kt
  presentation/src/main/java/team/aliens/dms_android/util/DayOfWeek.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/remain/RemainApplicationViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#223 🔀 :: (#222) refactor MyPageScreen
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: performance, refactor

#231 🔀 :: (#225) refactoring login screen design system component
  design-system/src/main/java/team/aliens/design_system/button/basicbutton.kt
  design-system/src/main/java/team/aliens/design_system/button/checkbox.kt
  design-system/src/main/java/team/aliens/design_system/textfield/textfield.kt
  design-system/src/main/java/team/aliens/design_system/typography/typography.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageChangePasswordScreen.kt
Labels: refactor, Dorm

#233 🔀 :: (#232) refactoring login screen view
  design-system/src/main/java/team/aliens/design_system/button/checkbox.kt
  design-system/src/main/java/team/aliens/design_system/icon/icons.kt
  design-system/src/main/java/team/aliens/design_system/textfield/textfield.kt
  design-system/src/main/res/drawable/ic_invisible.xml
  presentation/src/main/java/team/aliens/dms_android/feature/auth/login/LoginScreen.kt
Labels: refactor

#234 🔀 :: (#228) remove top bar in dark theme and refactoring application screens
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationScreen.kt
  presentation/src/main/res/values-night/themes.xml
Labels: refactor

#235 🔀 :: (#224) implement logic picking profile image from gallery
  data/src/main/java/team/aliens/data/remote/api/FileApi.kt
  data/src/main/java/team/aliens/data/remote/api/StudentsApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteFileDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudentsDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteFileDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudentsDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/request/students/EditProfileImageRequest.kt
  data/src/main/java/team/aliens/data/remote/response/file/FileResponse.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/FileRepositoryImpl.kt
  data/src/main/java/team/aliens/data/repository/StudentsRepositoryImpl.kt
  data/src/main/java/team/aliens/data/util/MultipartFormUtil.kt
  design-system/src/main/java/team/aliens/design_system/component/bottomsheet.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  di/src/main/java/team/aliens/di/NetWorkModule.kt
  di/src/main/java/team/aliens/di/RemoteDataSourceModule.kt
  di/src/main/java/team/aliens/di/RepositoryModule.kt
  domain/src/main/java/team/aliens/domain/entity/file/FileEntity.kt
  domain/src/main/java/team/aliens/domain/param/EditProfileImageParam.kt
  domain/src/main/java/team/aliens/domain/repository/FileRepository.kt
  domain/src/main/java/team/aliens/domain/repository/StudentsRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/file/RemoteUploadFileUseCase.kt
  domain/src/main/java/team/aliens/domain/usecase/students/RemoteEditProfileImageUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/component/GettingImageOptionItem.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/GettingImageOptionDialog.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/NavigationRoute.kt
  presentation/src/main/java/team/aliens/dms_android/feature/navigator/RootDms.kt
  presentation/src/main/java/team/aliens/dms_android/util/SelectImageType.kt
  presentation/src/main/java/team/aliens/dms_android/util/compose/DormImageUploadLayout.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/image/ConfirmImageViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
  presentation/src/main/res/values/strings.xml
Labels: feat, refactor

#236 🔀 :: (#230) edit top padding of application screen and notice screen
  design-system/src/main/java/team/aliens/design_system/component/notice.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
Labels: refactor

#238 🔀 :: (#227) refactor ExamineSchoolCode, ConfirmSchool
  presentation/src/main/java/team/aliens/dms_android/feature/register/event/school/ConfirmSchoolEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/event/school/ExamineSchoolCodeEvent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/SetIdFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/SetPasswordFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/team/aliens/dms_android/util/LifeCycle.kt
  presentation/src/main/java/team/aliens/dms_android/util/View.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/register/school/ConfirmSchoolViewModel.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/auth/register/school/ExamineSchoolCodeViewModel.kt
Labels: performance, refactor

#239 🔀 :: (#209) implement logic fetching meal information
  design-system/src/main/java/team/aliens/design_system/component/calender.kt
  design-system/src/main/java/team/aliens/design_system/icon/icons.kt
  design-system/src/main/res/drawable/ic_lunch.xml
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/CafeteriaScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealContent.kt
  presentation/src/main/java/team/aliens/dms_android/feature/cafeteria/MealState.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/home/MealViewModel.kt
Labels: feat, performance, refactor, 👾bug

#242 🔀 :: (#240) refactor whole codes before lunching for test drive
  data/src/main/java/team/aliens/data/intercepter/AuthorizationInterceptor.kt
  design-system/src/main/java/team/aliens/design_system/component/seat.kt
  design-system/src/main/java/team/aliens/design_system/dialog/dialog.kt
  local_database/src/main/java/team/aliens/local_database/localutil/LocalDateTimePraser.kt
  local_database/src/main/java/team/aliens/local_database/storage/implementation/UserDataStorageImpl.kt
  presentation/src/debug/ic_launcher-playstore.png
  presentation/src/debug/res/drawable/ic_launcher_background.xml
  presentation/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
  presentation/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
  presentation/src/debug/res/mipmap-hdpi/ic_launcher.png
  presentation/src/debug/res/mipmap-hdpi/ic_launcher_foreground.png
  presentation/src/debug/res/mipmap-hdpi/ic_launcher_round.png
  presentation/src/debug/res/mipmap-mdpi/ic_launcher.png
  presentation/src/debug/res/mipmap-mdpi/ic_launcher_foreground.png
  presentation/src/debug/res/mipmap-mdpi/ic_launcher_round.png
  presentation/src/debug/res/mipmap-xhdpi/ic_launcher.png
  presentation/src/debug/res/mipmap-xhdpi/ic_launcher_foreground.png
  presentation/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
  presentation/src/debug/res/mipmap-xxhdpi/ic_launcher.png
  presentation/src/debug/res/mipmap-xxhdpi/ic_launcher_foreground.png
  presentation/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
  presentation/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
  presentation/src/debug/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  presentation/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
  presentation/src/main/java/team/aliens/dms_android/customui/RegisterCustomButton.kt
  presentation/src/main/java/team/aliens/dms_android/feature/RegisterActivity.kt
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/image/ConfirmImageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/notice/NoticeScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/ConfirmEmailVerificationCodeFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/email/EnterEmailFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/id/EnterIdFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/EnterProfileImageFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/PolicyFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/last/dialog/SignUpSuccessDialog.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/password/EnterPasswordFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/ConfirmSchoolFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/register/ui/school/SchoolCertificationFragment.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomDetailScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
  presentation/src/main/res/drawable/ic_slider.xml
  presentation/src/main/res/layout/activity_sign_up.xml
  presentation/src/main/res/layout/btn_sign_up_primary.xml
  presentation/src/main/res/layout/dialog_sign_up_success.xml
  presentation/src/main/res/layout/fragment_sign_up_confirm_school_question.xml
  presentation/src/main/res/layout/fragment_sign_up_confirm_verification_code_email.xml
  presentation/src/main/res/layout/fragment_sign_up_confirm_verification_code_school.xml
  presentation/src/main/res/layout/fragment_sign_up_enter_email.xml
  presentation/src/main/res/layout/fragment_sign_up_enter_id.xml
  presentation/src/main/res/layout/fragment_sign_up_enter_password.xml
  presentation/src/main/res/layout/fragment_sign_up_enter_profile_image.xml
  presentation/src/main/res/layout/fragment_sign_up_policy.xml
  presentation/src/main/res/values-night/themes.xml
  presentation/src/main/res/values/strings.xml
  presentation/src/main/res/values/themes.xml
Labels: feat, refactor

#248 🔀 :: (#243) implement plusminus point detail logic
  data/src/main/java/team/aliens/data/remote/response/mypage/FetchPointListResponse.kt
  data/src/main/java/team/aliens/data/repository/MyPageRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/entity/mypage/PointListEntity.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointList.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
Labels: feat, refactor, 👾bug

#250 🔀 :: (#249) implement verify current password screen
  presentation/src/main/java/team/aliens/dms_android/component/AppLogo.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/changepassword/SuccessChangePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/auth/comparepassword/ComparePasswordScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/remain/RemainApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/util/TopBar.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/remain/RemainApplicationViewModel.kt
  presentation/src/main/res/drawable/ic_success_change_password.xml
  presentation/src/main/res/values/strings.xml
Labels: feat

#252 🔀 :: (#251) implement fetch current study room option logic
  data/src/main/java/team/aliens/data/remote/api/StudyRoomApi.kt
  data/src/main/java/team/aliens/data/remote/datasource/declaration/RemoteStudyRoomDataSource.kt
  data/src/main/java/team/aliens/data/remote/datasource/implementation/RemoteStudyRoomDataSourceImpl.kt
  data/src/main/java/team/aliens/data/remote/response/studyroom/CurrentStudyRoomOptionResponse.kt
  data/src/main/java/team/aliens/data/remote/url/DmsUrl.kt
  data/src/main/java/team/aliens/data/repository/StudyRoomRepositoryImpl.kt
  domain/src/main/java/team/aliens/domain/entity/studyroom/CurrentStudyRoomOptionEntity.kt
  domain/src/main/java/team/aliens/domain/repository/StudyRoomRepository.kt
  domain/src/main/java/team/aliens/domain/usecase/studyroom/RemoteFetchCurrentStudyRoomOptionUseCase.kt
  presentation/src/main/java/team/aliens/dms_android/feature/application/ApplicationScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/studyroom/StudyRoomViewModel.kt
Labels: feat

#256 🔀 :: (#255) implement my page gender logic and division plus point minus point
  data/src/main/java/team/aliens/data/remote/response/mypage/FetchMyPageResponse.kt
  data/src/main/java/team/aliens/data/remote/response/mypage/FetchPointListResponse.kt
  domain/src/main/java/team/aliens/domain/entity/mypage/MyPageEntity.kt
  domain/src/main/java/team/aliens/domain/entity/mypage/PointListEntity.kt
  presentation/src/main/java/team/aliens/dms_android/component/LastAppliedItem.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageScreen.kt
  presentation/src/main/java/team/aliens/dms_android/feature/mypage/MyPageState.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointList.kt
  presentation/src/main/java/team/aliens/dms_android/feature/pointlist/PointListScreen.kt
  presentation/src/main/java/team/aliens/dms_android/viewmodel/mypage/MyPageViewModel.kt
Labels: feat, refactor

#259 🔀 :: (#255) remove log
  data/src/main/java/team/aliens/data/repository/MyPageRepositoryImpl.kt
Labels: refactor
