Repository team-aliens/DMS-Android, pull requests merged in 2024-03, with the labels that each got.

#642 🔀 :: (#633) sign up edit password 등 shared viewmodel 구현
  app/src/main/java/team/aliens/dms/android/app/DmsApp.kt
  app/src/main/java/team/aliens/dms/android/app/navigation/DmsNavigator.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/1_ConfirmPasswordScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/2_SetPasswordScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/EditPasswordViewModel.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/navigation/EditPasswordNavigator.kt
  feature/src/main/java/team/aliens/dms/android/feature/signup/6_SetPasswordScreen.kt
  feature/src/main/res/values/strings.xml
  network/src/main/java/team/aliens/dms/android/network/user/apiservice/UserApiService.kt
Labels: feat, performance, refactor

#646 🔀 :: Release/v1.2.0
  app/build.gradle.kts
  app/src/main/java/team/aliens/dms/android/app/DmsApp.kt
  feature/src/main/java/team/aliens/dms/android/feature/main/mypage/MyPageScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/signin/SignInScreen.kt
  network/build.gradle.kts
Labels: release

#650 🔀 :: (#648) password validator 수정
  app/build.gradle.kts
  data/src/main/java/team/aliens/dms/android/data/meal/repository/MealRepository.kt
  data/src/main/java/team/aliens/dms/android/data/meal/repository/MealRepositoryImpl.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/2_SetPasswordScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/editpassword/EditPasswordViewModel.kt
  feature/src/main/java/team/aliens/dms/android/feature/main/home/HomeScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/main/home/HomeViewModel.kt
  feature/src/main/java/team/aliens/dms/android/feature/signup/6_SetPasswordScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/signup/SignUpViewModel.kt
  feature/src/main/java/team/aliens/dms/android/feature/studyroom/details/StudyRoomDetailsScreen.kt
  feature/src/main/res/values/strings.xml
  shared/validator/build.gradle.kts
  shared/validator/src/main/java/team/aliens/dms/android/shared/validator/AsciiValidator.kt
  shared/validator/src/main/java/team/aliens/dms/android/shared/validator/EmailValidator.kt
  shared/validator/src/main/java/team/aliens/dms/android/shared/validator/IdValidator.kt
  shared/validator/src/main/java/team/aliens/dms/android/shared/validator/PasswordValidator.kt
  shared/validator/src/test/java/team/aliens/dms/android/shared/validator/test/IdValidatorTest.kt
  shared/validator/src/test/java/team/aliens/dms/android/shared/validator/test/PasswordValidatorTest.kt
Labels: 👾bug

#652 🔀 :: (#644) 비밀번호 재설정 구현
  app/src/main/java/team/aliens/dms/android/app/DmsApp.kt
  app/src/main/java/team/aliens/dms/android/app/navigation/DmsNavigator.kt
  data/src/main/java/team/aliens/dms/android/data/auth/repository/AuthRepositoryImpl.kt
  data/src/main/java/team/aliens/dms/android/data/student/repository/StudentRepositoryImpl.kt
  feature/src/main/java/team/aliens/dms/android/feature/resetpassword/1_AccountVerificationScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/resetpassword/2_EnterEmailVerificationCodeScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/resetpassword/2_ResetPasswordEnterEmailVerificationCodeScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/resetpassword/3_SetPasswordScreen.kt
  feature/src/main/java/team/aliens/dms/android/feature/resetpassword/ResetPasswordViewModel.kt
  feature/src/main/java/team/aliens/dms/android/feature/signin/SignInScreen.kt
  feature/src/main/res/values/strings.xml
  network/src/main/java/team/aliens/dms/android/network/student/apiservice/StudentApiService.kt
  network/src/main/java/team/aliens/dms/android/network/student/datasource/NetworkStudentDataSourceImpl.kt
Labels: feat, refactor
